.button {
  padding: 15px;
  border: 1px solid;
  border-radius: 8px;
  font-size: 14px;
  color: var(--color-text-primary);

  transition:
    background-color 180ms ease,
    border-color 180ms ease,
    color 180ms ease;
}

.primary {
  background-color: var(--color-action-primary);
  border-color: var(--color-border-primary);

  &:hover {
    background-color: var(--color-action-hover-primary);
  }

  &:active {
    background-color: var(--color-active-primary);
  }
}

.secondary {
  background-color: var(--color-action-secondary);
  border-color: var(--color-border-secondary);

  &:hover {
    background-color: var(--color-action-hover-secondary);
  }

  &:active {
    background-color: var(--color-active-secondary);
  }
}

.outline {
  background-color: transparent;
  border-color: var(--color-border-primary);

  &:hover {
    background-color: var(--color-action-hover-primary);
  }

  &:active {
    background-color: var(--color-action-primary);
  }
}