.container {
  @include blockContainer();

  background-color: var(--color-bg-page);
  background-image: var(--gradient-all-matchups);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include blockTextSize();
}

.actionsWrapper {
  display: flex;
  align-items: end;
  column-gap: 10px;

  @include below($mobile-xs) {
    flex-direction: column;
    row-gap: 10px;

    .button {
      width: 100%;
    }
  }
}
