$mobile-breakpoint-big: 700px;
$laptop-breakpoint-big: 966px;

$mobile-xxs: 350px;
$mobile-xs: 560px;
$mobile: 768px;
$tablet: 1024px;
$laptop-xs: 1150px;
$laptop: 1280px;
$large-screen: 1440px;
$big-large-screen: 1920px;

