.titleContainer {
  .title {
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    margin-block: 30px 10px;
  }

  .subTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: var(--color-text-secondary);
  }
}



.buttonWrapper {
  display: flex;
  justify-content: center;
  column-gap: 15px;

  .button {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 35px;
    background-color: transparent;
    color: var(--color-text-primary);
  }
}