.container {
  @include blockContainer();
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include blockTextSize();

  .button {
    padding: 5px 22px;
    border-radius: 8px;
  }
}