.container {
  @include blockContainer();

  background-color: var(--color-bg-page);
  background-image: var(--gradient-all-matchups);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include blockTextSize();

  .button {
    padding: 5px 22px;
    border-radius: 8px;
  }
}