@mixin group {
  display: flex;
  column-gap: 14px;
  @include below($laptop-breakpoint-big) {
    row-gap: 10px;
    column-gap: 10px;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  flex-shrink: 0;
  padding: 10px;
  @include below($laptop-breakpoint-big) {
    row-gap: 10px;
  }
}

.firstGroup {
  @include group;

  @include below($laptop-breakpoint-big) {
    flex-direction: column;
    row-gap: 10px;
  }
}

.secondGroup {
  @include group;
  @include below ($mobile-xs) {
    flex-direction: column;
  }
}
